* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #ffffff;
}

a {
  color: #fffcfc;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo{
  display: flex ;
  align-items: center;
}
.logo img{
  height: 50px;
  margin-right: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #444;
}

.btn-primary {
  background-color: #f00;
  color: #fff;
}

.btn-primary:hover {
  background-color: #c00;
}

/* HEADER */
header {
  background-color: #000000;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 30px;
}

nav a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #f00;
}

/* MOVIE INFO */
.movie-info {
  background-color: #fff;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  align-items: flex-start; /* Ajustado para alinear los elementos al inicio */
}

.movie-info img {
  width: 200px; 
  margin-right: 20px;
}

.movie-info .info {
  display: flex;
  flex-direction: column;
}

.movie-info h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.movie-info p {
  font-size: 18px;
  margin-bottom: 30px;
}

.movie-info .btn {
  padding: 10px 20px;
  background-color: #ff0000; /* Color de fondo del botón ajustado */
  color: white; /* Color del texto del botón ajustado */
  text-decoration: none;
  border-radius: 5px;
}
/* SHOWTIMES */
.showtimes {
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
}

.showtimes h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 15px;
}

td {
  border: 1px solid #eee;
  padding: 15px;
}

td:first-child {
  font-weight: bold;
  color: #f00;
}

@media (max-width: 767px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .movie-info img {
    margin-bottom: 30px;
  }
}